.circle {
    height: 50px;
    width: 50px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
  }
  .stack_container {
    height: 220px;
    width: 60px;
    background-color: #777;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    padding-top: 10px; 
  }
  .stack_container_list {
   display: flex;
   justify-content: space-between;
   width: 300px;
  }